

# Security
DEBUG=True
SECRET_KEY=your-very-secret-key-change-me
JWT_SECRET=another-secret-for-tokens

# Database
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Multitenant Logic
DEFAULT_TENANT_DOMAIN=localhost
TENANT_MODE=hybrid  # options: hybrid, shared, isolated

# Redis & Celery
REDIS_URL=redis://localhost:6379/1
CELERY_BROKER_URL=redis://localhost:6379/2


#  THIRD-PARTY SERVICES #

# Stripe (Payments)
STRIPE_PUBLIC_KEY=pk_test_placeholder
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder

# SendGrid (Email)
SENDGRID_API_KEY=SG.placeholder_key
DEFAULT_FROM_EMAIL=noreply@tu-app.com

# OAuth (Google/GitHub Login)
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret



#  ADVANCED SECURITY (JWT ASYMMETRIC / JWKS) for future or current implemenattion... just to make sure 
# For RS256, you can point to the file path or paste the key string...
JWT_PRIVATE_KEY_PATH=./certs/jwt-private.pem
JWT_PUBLIC_KEY_PATH=./certs/jwt-public.pem

# Key Rotation & JWKS
JWKS_URL=https://tu-app.com
JWT_ALGORITHM=RS256
JWT_KEY_ID=v1-2023-01  # Current active key ID

